@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Montserrat:ital,wght@0,300;1,300&display=swap');

:root{
  /*=======Variable CSS=======*/
  --first-color:hsl(59, 100%, 83%);
  --first-color-light:hsl(29,80%,70%);
  --black-color: hsl(27, 48%, 37%);
  --text-color: hsl(30, 1%, 60%);
  --body-color: hsl(29,100%,99%);

  /*=======Font and typography=======*/
  --body-font: 'Lobster', sans-serif;
  --h3-font-size: 1.5rem;
  --smaller-font-size: 1rem;
}
/*=======BASE=======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: url(../img/montana.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font);
}
a{
  list-style: none;
}

img{
  min-width: 100%;
  height: auto;
}
ul{
  list-style: none;
}
/*=======CARD=======*/
.container{
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}
.cardHeader{
  position: relative;
  width: 256px;
  background-color: var(--black-color);
  padding: 1.25rem 2rem 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 3px 3px 6px rgb(0, 0, 0);
}
.card-img{
  width: 96px;
  border-radius: 50%;
}
.cardBorder{
  width: 110px;
  height: 100px;
  border: 4px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  background-color: rgb(83, 159, 226);
  
}

.cardName{
  color:var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: 500;
  text-shadow: 1px 2px 4px hsla(60, 100%, 100%, 0.719);
}
.cardProfesion{
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight:500;  
}

.cardSocial{
  width: 225px;
  height: 60px;
  background-color: var(--first-color);
  padding: 0.75rem;
  border-radius: 3rem;
  text-align: initial;
  text-shadow: 0 8px 24px hsla(4, 28%, 81%, 0.945);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.5rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
}

.cardSocial-control{
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.45s ease;
  transform: rotate(0);
 
}
.cardSocial-toggle{
  display: inline-flex;
  background-color: var(--black-color);
  color: var(--first-color);
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.cardSocial-text{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: 500;
  text-shadow: 1px 2px 1px rgb(218, 44, 44);
  
}

.cardSocial-list{
  display: inline-flex;
  column-gap: .75rem;
  transform: rotate(135deg);
  transform-origin: 18px 5px;
}
.cardSocial-link{
  display: inline-flex;
  background-color: var(--first-color-light);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 50%;
}

.cardSocial-text,
.CardSocial-list{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  
  padding-left: 3.1rem;
}

.cardSocial-text{
  top: .5rem;

}
/*Rotate social*/
.animation .cardSocial-control{
  transform: rotate(-135deg);
}
/*Up animation*/
.cardSocial.animation{
  animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation {
  0%, 100%{
    transform: rotate(0);
  }
  50%, 60%{
    transform: rotate(-3deg);
  }
  88%{
    transform: rotate(1deg);
  }
}
/*Dom animtion*/
@keyframes down-animation {
  0%, 100%{
    transform: rotate(0);
  }
  50%, 60%{
    transform: rotate(6deg);
  }
  88%{
    transform: rotate(-1deg);
  }
}